body {
  background: #dcdbd9;
  font-family: poppins;
}

#copyright {
  font-size: 10px;
}

.hero-button {
  width: 150px;
  padding: 12px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
}

.hr-fading {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}

#mainBrand {
  font-family: pacifico;
  font-size: 2em;
}

#mainNav .nav-link:hover {
  color: #ffffff;
}

#myHero {
  height: 750px;
  text-align: center;
  padding-top: 25%;
  background: url("img/header.jpg");
  background-size: cover;
  background-position: center;
  /* THIS IS WHAT MAKES THE BACKGROUND STAY IN PLACE: */
  background-attachment: fixed;
}

#myHero h1 {
  font-size: 3em;
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0px 3px 2px rgba(104, 104, 104, 0.8),
    0px 12px 18px rgba(152, 152, 152, 0.4);
  margin-top: -85px;
}

#myHero h3 {
  color: #ffffff;
}

#myHeroContent {
  margin-top: auto;
}

#myPic {
  border-radius: 125px;
  margin-top: auto;
}

.myProjects i {
  font-size: 1.5em;
}

.mySkills {
  font-size: 7em;
}

.nav-item {
  font-size: 1.2em;
}

.navbar.scrolled {
  background: #666670;
  opacity: 0.9;
  transition: background 500ms;
}

.projectImage {
  width: 100%;
}

.projectThumbnail {
  background-color: #ffffff;
}
